<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voyage Versus - <%- title %></title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="homepage.css">
    <link rel="icon" type="image/x-icon" href="images/favicon-black.png">
</head>
<body>
    <%- include('partials/header') %>
    <div class="background"></div>
    <main>
        <section class="hero">
            <div class="text">
                <%- htmlSubscribeIntro %>
            </div>
            <div class="subscribe">
                <input type="text" placeholder="Insert Email Address"/>
                <input type="submit" value="Sign Up"/>
            </div>
        </section>
        <section id="packages" class="packages">
            <h2>Popular Destinations</h2>
            <div class="package-list">
                <% for(let i=0; i < destinations.length; i++) { %>
                    <div class="package-item">
                        <img src="https:<%= destinations[1].fields.image.fields.file.url %>" alt="Destination 1">
                        <h3><%= destinations[i].fields.title %> </h3>
                        <%- destinations[i].fields.htmlDescription %>
                        <a href="comparison.html" class="details-button">View Packages</a>
                    </div>
                <% } %>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
